body {
    width: 80%;
	margin: 0px auto;
	font-size: 10pt;
	color: #444;
}

em {
    font-style: italic;
}

a{
    text-decoration: none;
	font-weight: bold;
	color: #222;
}

a:hover{
    text-decoration: underline;
	color: #888;
}

#content ul.directory-listing {
    display: block;
	list-style-type: none;
}

#content .directory-listing li{
    border-top: 1px solid rgba(68, 68, 68, 0.5);
	margin: 0em;
	padding: 0.25em 0em;
	line-height: 1em;
	transition: background-color 150ms linear;
}

#content .directory-listing li.directory {
    font-style: italic;
}

#content .directory-listing li.symlink:after {
    content: "->";
}

#content .directory-listing li.file {
}

#content .directory-listing li:first-child{
    border-top: none;
}

#content .directory-listing li:hover {
    background-color: #f0f0f0;
}

#content .directory-listing li img {
    vertical-align: middle;
}

#footer {
    border-top: 1px solid #444;
	padding: 0.25em 1em;
}

#header {
    border-bottom: 1px solid #444;
	padding: 0.25em 1em;
}
